{% extends "admin/change_form.html" %}

{% block object-tools-items %}
{% if original.pk and has_change_permission %}
<li>
    <a href="{% url 'admin:auth_user_password_change' original.pk %}" class="historylink">
        Promijeni lozinku
    </a>
</li>
{% endif %}
{{ block.super }}
{% endblock %}

{% block after_field_sets %}
{% if original.pk and has_change_permission %}
<div class="submit-row" style="padding-left:0;margin-bottom:16px;">
    <a href="{% url 'admin:auth_user_password_change' original.pk %}" class="button">
        Promijeni lozinku
    </a>
</div>
{% endif %}
{{ block.super }}
{% endblock %}
